{{> header }}

   {{> navbar }}

 </br>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Quito</h5>
    <p class="card-text">Clima de la ciudad: {{Quito}}°C</p>
  
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Guayaquil</h5>
    <p class="card-text">Clima de la ciudad: {{Guayaquil}}°C</p>
  
  </div>
</div>

{{> footer }}
   